 h1{
    color: blue;
}

h2{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: green;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: bold; */
    font-style: italic; /* comentario en CSS*/
}